body {
    font-family: Pretendard; /* 원하는 폰트 */
    background-color: #f9f9f9; /* 배경 색상 */
    font-size: 16px; /* 글자 크기 */
    line-height: 1.6; /* 줄 간격 */
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Pretendard; /* 원하는 폰트 */
    font-weight: bold; /* 굵기 설정 */
    line-height: 1.3; /* 줄 간격 설정 */
}